<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935528402588-aq39499a7d4mc4oqrkd6949ih0sjdg2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935528402588-aq39499a7d4mc4oqrkd6949ih0sjdg2i</string>
	<key>API_KEY</key>
	<string>AIzaSyAPmfK7HA5iKk7JUIjmdAhK_DBHf4cZIKo</string>
	<key>GCM_SENDER_ID</key>
	<string>935528402588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fz.cyber.fzCyberQuiz</string>
	<key>PROJECT_ID</key>
	<string>quiz-c6d98</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-c6d98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935528402588:ios:45541ea896631d8ddc2759</string>
</dict>
</plist>